{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
<div class="titre">
    <h1 class="bigtitle">Modifier un achat</h1>
    <button class="logout"><a class="linkcrud" href="{{ path('app_logout')}}">Déconnexion</a></button>
</div>

    {{ include('crud_product/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('crud_product/_delete_form.html.twig') }}
    <a class="linkback" href="{{ path('crud_product_index') }}">&#10094; Retour à l'historique</a>

{% endblock %}
