{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel achat</h1>

    {{ include('crud_product/_form.html.twig') }}

    <a href="{{ path('crud_product_index') }}">Retour à l'historique</a>
{% endblock %}
